@model WebLocadora.Models.Filme

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Filme</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilmeNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilmeNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Preco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Preco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Disponivel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Disponivel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilmeImg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilmeImg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Preferido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Preferido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilmeCategoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilmeCategoria.FilmeCategoriaId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FilmeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
